<!DOCTYPE html>
<html>
  <head>
    <title>Address Finder</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90312fa36f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/media/favicon.ico">
    <link rel="icon" type="image/gif" href="/static/media/animated_favicon1.gif">
  </head>
  <body>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-globe-americas"></i>
        <h1>Address Finder</h1>
        <p>Search for an address across countires or get an address in international mailing format.</p>
      </div> 
 
      <form action="/result" method="post">
        <div class="title">
          <i class="fas fa-search"></i></i><h2>Enter info</h2>
        </div>
        <div class="info">
          <select name="country" id="country">
            <option value="">Country</option>
            {% if countries %}
              {% for country in countries %}
                <option name={{ country }}>{{ country }}</option>
              {% endfor %}
            {% endif %}
          </select>
          <div class="addrItems" id="addrItems">
            <input type="text" name="name" placeholder="Street address" />
            <input type="text" name="name" placeholder="Street address line 2" />
            <input type="text" name="name" placeholder="City" />
            <input type="text" name="name" placeholder="Region" />
            <input type="text" name="name" placeholder="Postal / Zip code" />
          </div>
        </div>
        <button type="submit" href="">Search</button>
      </form>
    </div>
  </body>
<script type="text/javascript">

  $(document).ready(function() {

    $('#country').change(function() {
      var selectedCountry = $(this).children("option:selected").text();

      console.log(selectedCountry)

      $('#addrItems').empty();

      if (selectedCountry == "") {
        $('#addrItems').empty();

        $('#addrItems').append(
          '<input type="text" name="Street address" placeholder="Street address" />' + 
          '<input type="text" name="Street address line 2" placeholder="Street address line 2" />' + 
          '<input type="text" name="City" placeholder="City" />' +
          '<input type="text" name="Region" placeholder="Region" />' +
          '<input type="text" name="Postal/Zip code" placeholder="Postal/Zip code" />'
        );
        return;
      };

      $.ajax({
              type: 'post',
              url: '/format',
              data: {
                'country': selectedCountry
              },
              dataType: "json",
              success: function (data) {
                  console.log('Submission was successful.');
                  console.log(data);

                  lines = data[selectedCountry]

                  for (var line of lines) {
                    $('#addrItems').append('<div class="line">');

                    for (var item of line) {
                      if (item['name'] == 'postcode') {
                        $('#addrItems').append(
                          '<input type="text" name="' + item['name'] + '" placeholder="' + item['note'] + '" title="' + item['title'] + '"  pattern="' + item['pattern'] + '" required />'
                        ); 
                      } else {
                        $('#addrItems').append(
                          '<input type="text" name="' + item['name'] + '" placeholder="' + item['note'] + '" required />'
                        );
                      };
                    }
                    $('#addrItems').append('</div>');
                  };
              },
              error: function (data) {
                  console.log('An error occurred.');
                  console.log(data);
              }
          })
    });

  })

</script>
</html>